.container
  .row-fluid.videos-list
    .span12
      .row-fluid
        .title
          %h3 kennyTERROR Videos
          %a{:href => "#", :onclick => "$('#hidden').show(); return false;"}
            show
          %a{:href => "#", :onclick => "$('#hidden').hide(); return false;"}
            hide
          %div#hidden{:style => "display: none;"}
            - @yt_videos.each do |video|
              %ul{:style => "list-style-type: none;"}
                %li
                  = link_to video.title.split("kennyTERROR")[0], show_video_path(video.unique_id), :class => "video-link"
                  = video.view_count
                  views











