.container-fluid
  .landing-logo
    .logo
      %img{:src => "/assets/terror_logo.png"}
      %img{:src => "/assets/terror_text.png"}
      %img{:src => "/assets/gaming_text.png"}
    .row-fluid
      - if flash[:notice]
        .alert.alert-success
          = flash[:notice]
      .hero-unit
        %h2 Coming Soon
        %p Website dedicated to the Chicago Gaming Community.  Sign up and learn more about the website.
        .social-login
          %li= link_to "sign in with Facebook", signin_facebook_path, {:class => "btn-auth btn-facebook"}
        %p Join us in our social networks.
        .social-like
          %li
            %a.twitter-follow-button{"data-show-count" => "false", "data-size" => "large",
                                     :href => "https://twitter.com/terrorgamingnet"} follow @terrorgamingnet
        %div
          %li.fb-like{"data-href" => "https://www.facebook.com/pages/terrorgamingnet/466177123433323?fref=ts",
                      "data-layout" => "button_count", "data-send" => "false", "data-show-faces" => "false",
                      "data-width" => "450"}

