.headline
  .container-headline
    .landing-logo
      .logo
        %img{:src => "/assets/terror_logo.png"}
        %img{:src => "/assets/terror_text.png"}
        %img{:src => "/assets/gaming_text.png"}
      %h2#headline Coming Soon
      %h4#headline-summary Website Dedicated to the Chicago Gaming Community
      %a.btn.btn-large.btn-primary.disabled{:href => signin_facebook_path} Sign up/Login with Facebook

- if flash[:notice]
  .alert.alert-success
    = flash[:notice]

.sponsors
  .container-sponsors
    %h2 Sponsors
    .sponsors-logo
      .gfc
        %img{:src => "assets/gfc_logo.png"}
      .pocket-vapes
        %img{:src => "assets/p_vapes.jpg"}

.features
  .container-features
    %h2 Features
    .features-images
      %img{:src => "/assets/features_all.png"}
    %ul.feature-list-description
      %li.feature
        %h5 Chicago Streamers
        %p Using Twitch API, list of Chicago streamers, ONLY.
        %a.feature-link{:href => about_url} Learn more
      %li.feature
        %h5 Blog
        %p Blogs by the high level players of Chicago.  As well as the most involved players.
        %a.feature-link{:href => about_url} Learn more
      %li.feature
        %h5 Chat rooms
        %p Miss our facebook chat rooms? Personal chat rooms for Chicago, including events, so your voice will be heard.
        %a.feature-link{:href => about_url} Learn more

.join-community
  .container-stream
    %h3 Become involved in the community!
    %h4 Stream list
    %p
      If you live in Chicago, or at least in the area and would like your stream added to the list, submit a form via
      %a{:href => contact_path} email
    %h4 We are looking for writers!
    %p
      If you are an active player in your gaming field, or a high level player, submit a form, more detail on the
      %a{:href => contact_path} contact page

.introduction
  .container-introduction
    %h2 Our Goal
    %h5 So much to say, but I know gamers hate reading so lets get straight to the point.
    %br/
    %h5 This website is built from the bottom up, no templates, no Wordpress.  This means that anything is possible, its 100% customizable.  We want to build a website that's made for Chicago Gamers.  Everyone has had moments where they wish a website had a feature.  Personally, I want the chat rooms back from Facebook.  They disabled them because the group was getting too big.  I want to see a list of Chicago Streamers, so I can support them.  At the moment the features we're about to implement are only the beginning.  We listen to the community.  Give us feedback, we take criticism with a smile.  We want this website to be the Cornerstone of a big Gaming Community.
    %br/
    %p
      %br TL;DR
      Website for Chicago Gamers.  Give us feedback, and we'll do our best.
    %br/
    %h4
      If anyone wants to contribute to this website, let us know

