.container-fluid
  .landing-logo
    .logo
      %img{:src => "/assets/terror_logo.png"}
      %img{:src => "/assets/terror_text.png"}
      %img{:src => "/assets/gaming_text.png"}
    .hero-unit
      %p Blah blahBlah blahBlah blahBlah blahBlah blahBlah blahBlah blah

