.navbar.navbar-fixed-top
  .navbar-inner
    .container
      %a.btn.btn-navbar
        %span.icon-bar
        %span.icon-bar
        %span.icon-bar
      %a.brand{:href => "#"} TERROR Gaming

.container-fluid
  .row
    .span9
      = yield
    .span3
      %h2 About Us
      Lorem ipsum
