.container#about-page
  .span8
    %h3 Our Ideas
    %p We have a lot of ideas for this website:
    %ul.about-us-list
      %li Chicago live streamers
      %li Chicago Chat rooms - for events, tournaments, or just a place to chat.
      %li Blogs - by high level players of Chicago.
      %li Chicago Player of the Month, AMA

    %h4 Chicago Live Streamers, by Twitch
    %p We all know Twitch, the motherland of live streams, we're making it more personal.
    %ul
      %br/
      %li
        %b List of only Chicago gamers
        %p making it easier for you to support our fellow gamers.

    %h4 Blogs
    %p Blogs, by Gamers, for Gamers.
    %ul
      %br/
      %li
        %b High Level Gamers Blogs
        %p There are some high level players in Chicago.  They have what it takes to be a professional, and I personally would like to extract as much information as I can from them.  But give when you take, support these bright players so that one day everyone will know where the pro gamers originate from.
      %li
        %b Involved Gamers
        %p High Level Gamers shouldn't be the only people that gets heard.  People that are highly involved should get some saying in Chicago.

    %h4 Personal Chat Rooms
    %p If you prefer, personal channels for Chicago gamers.
    %ul
      %br/
      %li
        %b Personal chat rooms for events
        %p I've never been able to voice my opinions of the game whenever there is some huge tournament.  Thousands of viewers and the chat room is overcrowded, or they only let subscribers talk.  Of course, if you prefer to chat with all the viewers, we'll give you that option as well. 

    %h4 Player of the Month
    %p Who doesn't like asking questions?  Picking Gamers that we feel should be noted.
    %ul
      %br/
      %li
        %b AMA
        %p Ask away, and find out how Chicago Gamers really are.

    %br/
    %h4
      Have any ideas? suggestions? leave us an
      %a{:href => contact_path} email


