.container
  .span8
    %h3 Our Goal
    %p The website started with an idea to connect all competitive gaming communities in the Chicago area.  There are many facebook groups that surrounds this idea, however, facebook functionalities are limited, and gives us no flexibility.  That is why we feel obligated to create something that is customized solely for Chicago players.  We will personally take feed backs, suggestions, anything in order to make this website our personal chicago gaming website.  We have many ideas on what features to implement, but we want to hear from you guys first.
    %h3 Our Ideas
    %p We have a lot of ideas for this website:
    %ul.about-us-list
      %li Chicago live streamers
      %li Chicago Chat rooms - for events, tournaments, or just a place to chat.
      %li Blogs - by high level players of Chicago.
      %li Chicago Player of the Month, AMA
    %p If anyone has an idea, please let us know

