// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.twitch-logo{
  img{
    padding-top:10px;
  }
}

#blog-feature, #chat-feature, #player_of_month{
  padding-top:50px;
}

#player_of_month{
  padding-bottom:50px;
}

.fb-like{
  text-align:center;
}

.twitter-follow-button{
  padding-top:10px;
  text-align:center;
}


.hero-unit{
  min-width:200px;
  padding:20px;
  text-align:center;
  width:75%;
  margin: 0 auto;
  background:rgb(199, 47, 47);
  li{
    list-style-type:none;
  }
}

.logo {
  text-align: center;
  padding-bottom: 50px;
}
