// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.container#about-page{
  padding-bottom: 100px;
  h3, h4{
    color: rgb(199, 47, 47);
  }

  ul{
    list-style-type: none;
  }
}

a{
  cursor: pointer;
}

footer{
  position:relative;
  margin-top: -150px;
  clear:both;
  padding-top:20px;
  background: #faf2f2;
}

#logo-header{
  padding: 5px 5px 0 0;
}

.introduction{
  background:url("/assets/intro_pattern.png");
}

.feature-list-description{
  list-style: none;
  padding: 15px;
  margin: 20px auto 36px;
}

.feature-link{
  color: rgb(199, 47, 47);
}

.feature{
  display: inline-block;
  width: 30%;
  padding-left: 5px;
  padding-right: 5px;
}

.features-images, .community-images{
  padding-top: 3em;
}

body{
  padding-top: 40px;
  font-family: 'Sintony', sans-serif;
}

.headline{
  background: rgb(151, 47, 47);
  text-align: center;
}

.container-headline, .container-features, .container-introduction, .container-stream,
.container-writer{
  max-width: 75em;
  margin: 0 auto;
  width: 90%;
  position: relative;
  padding: 3em 0;
  text-align: center;
}


.container-introduction, .container-stream, .container-writer{
  text-align: left;
}

.features{
  background: rgb(250, 242, 242);
}

.btn.btn-large.btn-primary.disabled{
  background: rgb(165, 17, 17);
  cursor: pointer;
}

.btn.btn-small.btn-primary.disabled{
  background: rgb(199, 19, 19);
  cursor: pointer;
}



