.span8.video-detail{
  float:left;
  margin-left:0;
  padding-left:0;
}

.span4.subscribe{
  padding-top:10px;
}

.row-fluid.videos-list{
  height:300px;
  padding-bottom:30px;
}

.span4.video-list{
  padding-top:20px;
  margin-left:0;
}

.video-link{
  color: rgb(199, 47, 47);
}

.video-detail{
  padding-top:10px;
}
