.container
  %ul.nav.nav-tabs
    %li
      %a.red-navbar{:href => root_url} Home
    %li
      %a.red-navbar{:href => about_path} About us
    %li.nav.pull-right
      - if user_signed_in?
        %a.red-navbar{:href => signout_path} Sign out


