%header
  .navbar.navbar-fixed-top
    .navbar-inner
      .container
        %a{:href => '/'}
          %img.brand#logo-header{:src => "/assets/terror_logo_small.png"}
        %ul.nav
          %li
            %a{:href => '/'} Home
          %li
            %a{:href => '/p/streams'} Chicago Streams
          %li
            %a{:href => '/p/videos'} Videos
          %li
            %a{:href => '/b/blog'} Blogs
          %li
            %a{:href => '/p/about'} About
          %li
            %a{:href => '/p/contact'} Contact us

        %ul.nav.pull-right
          - if user_signed_in?
            %a.btn.btn-small.btn-primary.disabled{:href => '/p/signout'} Sign out
          - else
            %a.btn.btn-small.btn-primary.disabled.signin
              Sign in with:
            %a.btn.btn-small.btn-primary.disabled.facebook{:href => '/p/signin'} Facebook
            %a.btn.btn-small.btn-primary.disabled.twitch{:href => '/p/signin_twitch'} Twitch
= render 'refinery/site_bar'





















