%header
  .navbar.navbar-fixed-top
    .navbar-inner
      .container
        %a{:href => root_url}
          %img.brand#logo-header{:src => "/assets/terror_logo_small.png"}
        %ul.nav
          %li
            %a{:href => root_url} Home
          %li
            %a{:href => about_path} About
          %li
            %a{:href => contact_path} Contact us
          %li
            %a{:href => streams_path} Chicago Streams
          %li
            %a{:href => users_path} Gamers
        %ul.nav.pull-right
          - if user_signed_in?
            %a.btn.btn-small.btn-primary.disabled{:href => signout_path} Sign out
          - else
            %a.btn.btn-small.btn-primary.disabled.signin
              Sign up/Login with:
            %a.btn.btn-small.btn-primary.disabled{:href => signin_facebook_path} Facebook
            %a.btn.btn-small.btn-primary.disabled.twitch{:href => signin_twitch_path} Twitch





















