.navbar.navbar-fixed-top
  .navbar-inner
    .container
      %a.brand{:href => root_url} Title
      %ul.nav
        %li
          %a{:href => root_url} Home
        %li
          %a{:href => about_url} About


